/* Layout para alinear la imagen al lado de la lista de albumes */
.albumes-contenido {
  display: flex; /* Utiliza flexbox para alinear la imagen y la lista en una fila */
  gap: 30px; /* Espacio entre la imagen y la lista */
  align-items: center; /* Alinea imagen y  lista al centro del contenedor */
  flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas m치s peque침as */
  background-color: #000304; /*Fondo negro para el contenedor de 치lbumes */
  padding: 10px; /* Agrega espacio de borde de interior hacia exterior */
}

/* Estilo para negritas de titulos de las canciones populares */
#canciones li {
  font-weight: bold;
}

/* Dividir pantalla de HitosCulturades en logros.html*/
.contenedor {
  display: flex; /* Divide en horizontal */
}

.columna {
  width: 35%; /* Cada lado ocupa la mitad */
  text-align: center; /* Centra el contenido */
  padding: 20px;
}

.columna img {
  width: 250px; /* Ajusta tama침o imagen */
  height: auto;
}
.columna li {
  text-align: left;
}

/* estilo a footer*/
footer {
  background-color: rgb(78, 78, 78);
  color: white;
  padding: 10px;
}

nav {
  background-color: #2de1d8;
  padding-bottom: 10px;
  padding-top: 10px;
}
nav a {
  padding: 15px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

#grammy h2 {
  color: yellow;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
}
#billboard h2 {
  color: white;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
}
