/* Layout para alinear la imagen al lado de la lista de albumes */
.albumes-contenido {
  display: flex; /* Utiliza flexbox para alinear la imagen y la lista en una fila */
  gap: 30px; /* Espacio entre la imagen y la lista */
  align-items: center; /* Alinea imagen y  lista al centro del contenedor */
  flex-wrap: wrap; /* Permite que el contenido se ajuste en pantallas más pequeñas */
  background-color: #000304; /*Fondo negro para el contenedor de álbumes */
  padding: 10px; /* Agrega espacio de borde de interior hacia exterior */
}

/* Estilo para negritas de titulos de las canciones populares */
#canciones li {
  font-weight: bold;
}
